.TaskDetails {
    .TaskDetails-link {
        display: inline-block;
        margin-bottom: 40px;
    }

    .TaskDetails-buttons {
        margin-top: 40px;

        .btn {
            margin-right: 20px;
        }
    }
}